  .container.my-5.home{
    font-family: 'Poppins', sans-serif;
  }

.section-title {
    font-size: 5rem; /* Ajuste para o tamanho desejado */
    font-weight: 900;
    color: #e73a23; /* Ajuste a cor se necessário */
  }

  .card-img {
    height: 100%; /* Altura desejada */
    width: 100%; /* Para garantir que a imagem ocupe toda a largura do card */
    object-fit: cover;
    opacity: 0.6; /* Transparência da imagem de fundo */
    display: block; /* Isso ajuda a remover qualquer espaçamento invisível ao redor da imagem */
    margin: auto; /* Centraliza a imagem horizontalmente */
}

  
.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.4); /* Fundo semitransparente no texto */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centraliza os itens no centro do card */
  text-align: center; /* Garante que o texto fique centralizado */
}

  
  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 1rem;
  }

  .card {
    padding: 0;
    margin: auto; /* Centraliza o card horizontalmente */
    height: 300px;
    width: 300px;
    border-radius: 60px; /* Adiciona o border-radius para cantos arredondados */
    overflow: hidden;
}

.card-text {
  font-size: 1rem;
  word-wrap: break-word; /* Quebra o texto se ele for muito longo para uma linha */
  white-space: normal;   /* Permite que o texto quebre em várias linhas */
  overflow: hidden;      /* Esconde o texto que excede a altura máxima */
  text-overflow: ellipsis; /* Adiciona reticências (...) no final do texto se ele for muito longo */
  display: -webkit-box;   /* Necessário para limitar o número de linhas */
  -webkit-line-clamp: 4;  /* Limita o texto a 4 linhas */
  -webkit-box-orient: vertical; /* Define a orientação da caixa */
  max-height: 6em; /* Ajuste de altura máximo para 4 linhas de texto */
  line-height: 1.5em; /* Espaçamento entre as linhas */
}

