{% load static %}

{% block style_sheet %}  <link href="{% static 'css/footer.css' %}" rel="stylesheet">{% endblock %}

<footer class="text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex flex-column justify-content-center">
                <p>R. Prof. Sizenando Costa, s.n - Baixo Roger, João Pessoa - PB, 58020-590</p>
                <p>Centro Cultural Piollin. Desde XXXX.</p>
                <p>CNPJ: 09090908</p>
                <p>E-mail: centroculturalpiolling@gmail.com</p>
                
                <!-- Ícones das redes sociais -->
                <div class="d-flex gap-3">
                    <a href="https://www.instagram.com" target="_blank" class="text-white">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://www.youtube.com" target="_blank" class="text-white">
                        <i class="fab fa-youtube fa-2x"></i>
                    </a>
                    <a href="https://wa.me/1234567890" target="_blank" class="text-white">
                        <i class="fab fa-whatsapp fa-2x"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="{% static '/images/maps.png' %} " alt="Centro Cultural Piollin" class="img-fluid footer">
            </div>
        </div>
    </div>
</footer>
