{% extends "base/base.html" %}
{% load static %}
{% block style_sheet %}  
  <link href="{% static 'css/eventos.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container text-center">
    <h1 class="h1-eventos">EVENTOS</h1>
    <div class="row">
      {% for evento in eventos %}
      <div class="col-md-6 col-lg-6 d-flex justify-content-center mb-4">
        <div class="card card-eventos" style="width: 18rem;">
            <img src="{{ evento.imagem.url }}" class="{% if forloop.counter|divisibleby:2 %}card-img-top-2{% else %}card-img-top-1{% endif %}" alt="{{ evento.titulo }}">
            <div class="card-body eventos-card-body">
                <h5 class="card-title eventos-card-title">{{ evento.titulo }}</h5>
                <p class="card-text">{{ evento.descricao }}</p>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
